ion-content {
  --background: linear-gradient(135deg, #3b82f6, #1e3a8a); // Fondo degradado moderno
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
  position: relative; 

  
  &::before {
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, #b77121, #3b82f6);
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: -1;
  }

  
  &::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, #8a3d1e, #215ab7);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    z-index: -1;
  }
}

.header {
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.header p {
  font-size: 1rem;
  color: white;
}

ion-card {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

ion-item {
  --background: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

ion-input {
  font-size: 1rem;
}

.sign-btn-wrap {
  text-align: center;
  padding-top: 45px;
}

.sign-btn {
  --ion-primary-color: #215ab7;
  --background: #215ab7;
  --background-activated: #f9efe1;
  --background-focused: #f8f4fa;
  --background-hover: #071d49;
  color: #f4f6fa;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #3b82f6;
  text-decoration: underline;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-buttons ion-icon {
  font-size: 2rem;
  color: #3b82f6;
  transition: transform 0.3s ease;
}

social-buttons ion-icon:hover {
  transform: scale(1.2);
}